<div class="layout-wrapper"  >


  <div class="layout-main-container">
      <div class="layout-main  ">
        <div class="conainerArray" style="margin-bottom:20px">

          <select #langSelect (change)="switchLang(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
          </select>
        </div>
        <div class="conainerArray"> <app-data-excel-sheet></app-data-excel-sheet></div>
        <router-outlet></router-outlet>
      </div>

  </div>


</div>